Asset Disposal
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Asset_Checkbox</name>
        <label>Update Asset Checkbox</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AssetRecord.isActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Picture</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_the_Asset_is_Active</name>
        <label>Check if the Asset is Active</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Asset_Inactive_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_If_Asset_is_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetRecord.isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_Checkbox</targetReference>
            </connector>
            <label>Checking If Asset is active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_on_Checkbox</name>
        <label>Decision on Checkbox</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckboxTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_sure_you_want_to_dispose_this_asset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Record</targetReference>
            </connector>
            <label>CheckboxTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Asset Disposal Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Disposal Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Asset_Record</name>
        <label>Get Asset Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_Asset_is_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>AssetRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>isActive__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Status</name>
        <label>Update Asset Status</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputReference>AssetRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Asset_Inactive_Screen</name>
        <label>Asset Inactive Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AssetInactive</name>
            <fieldText>&lt;p&gt;Asset is already inactive.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AssetDisposalScreen</name>
        <label>AssetDisposalScreen</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_on_Checkbox</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_you_want_to_dispose_this_asset</name>
            <dataType>Boolean</dataType>
            <fieldText>Are you sure you want to dispose this asset?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Picture</name>
        <label>Picture</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Asset_Status</targetReference>
        </connector>
        <fields>
            <name>Upload_a_Picture</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload a Picture</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg;.jpeg;.png;.heic</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssetDisposalScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
