Track Geolocation
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <environments>Default</environments>
    <interviewLabel>Track Geolocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Track Geolocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Assigned_Service_Resource</name>
        <label>Get Assigned Service Resource</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>AssignedResource</object>
        <outputReference>AssignedResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceResourceId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource</name>
        <label>Get Service Resource</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignedResource.ServiceResourceId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>ServiceResourceRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastKnownLatitude</queriedFields>
        <queriedFields>LastKnownLongitude</queriedFields>
        <queriedFields>LastKnownLocationDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Geolocation</name>
        <label>Update Geolocation</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Logged_in_Time__c</field>
            <value>
                <elementReference>ServiceResourceRecord.LastKnownLocationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logged_in_geolocation__Latitude__s</field>
            <value>
                <elementReference>ServiceResourceRecord.LastKnownLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Logged_in_geolocation__Longitude__s</field>
            <value>
                <elementReference>ServiceResourceRecord.LastKnownLongitude</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>Location</name>
        <label>Location</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Geolocation</targetReference>
        </connector>
        <fields>
            <name>Latitude</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceResourceRecord.LastKnownLatitude</elementReference>
            </defaultValue>
            <fieldText>Latitude</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Longitude</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceResourceRecord.LastKnownLongitude</elementReference>
            </defaultValue>
            <fieldText>Longitude</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assigned_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
</Flow>
